version: "2"

services:
  {{#each cells}}
  cell_{{X}}_{{Y}}:
    build:
      context: ./cell_container
    image: cell-test
    container_name: cell_{{X}}_{{Y}}
    ports:
      - "80{{X}}{{Y}}:8000"
    environment:
      - X={{X}}
      - Y={{Y}}

  {{/each}}
